* {
    font-family: "Arial";
    font-size: 14px;
}

.flex-head {
    display : flex;
    width : 100%;
    margin-top : 30px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin: 22px;
}

.flex-label {
    flex: 50%;
    left: 5%;
    height: 22%;
}

.flex-input{
    flex: 30%;
    position:absolute;
    left: 20%;
    width: 50%;
    height: 22px;
}

.adv-button{
    position: absolute;
    font-weight: bold;
    right: 29%;
    padding: 8px;
    background-color: #4a8dfb;
    color: white; 
    border: #264684;
    border-radius: 2px;
    

}

#left{
    flex-basis: 50%;
    margin-left : 10px;
}

#right {
    text-align: right;
    flex-basis: 50%;
    margin-right : 10px;
}

a {
    padding : 10px;
    color : black;
    text-decoration: none;
}

#form {
    text-align: center;
    padding:100px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    
}

#qbox {
    border-radius: 20px;
    border: 1px solid gainsboro;
    width: 500px;
    height:20px;
    padding: 10px;
    padding-left:3%;
}

.button {
    border:none;
    background-color: #f8f9fa;
    height: 40px;
    width: 130px;
}