* {
    font-family: "Arial";
    font-size: 14px;
}

.flex-head {
    display : flex;
    width : 100%;
    margin-top : 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: 180px 50%  auto;
    gap: 10px;
    padding: 10px;
}

.grid-container > div {
    grid-column-start: 1;
    grid-column-end: 1;
    text-align: left;
  }

.grid-input{
    grid-column-start: 2;
    grid-column-end: 2;

}

.button {
    border:none;
    background-color: #f8f9fa;
    height: 40px;
    width: 130px;
}

.adv-button{
    font-weight: bold;
    padding: 8px;
    background-color: #4a8dfb;
    color: white; 
    border: #264684;
    border-radius: 2px;
    grid-column-start: 2;
    grid-column-end: 2;
    width: 150px;
    margin-right: 0px;
    margin-left: auto;
}

#left{
    flex-basis: 50%;
    margin-left : 10px;
}

#right {
    text-align: right;
    flex-basis: 50%;
    margin-right : 10px;
}

a {
    padding : 10px;
    color : black;
    text-decoration: none;
}

#form {
    text-align: center;
    padding:100px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
}

#qbox {
    border-radius: 20px;
    border: 1px solid gainsboro;
    width: 500px;
    height:20px;
    padding: 10px;
    padding-left:3%;
}