* {
    font-family: "Arial";
    font-size: 14px;
}

.flex-container {
    display : flex;
    width : 100%;
    margin-top : 30px;
}

#left{
    flex-basis: 50%;
    margin-left : 10px;
}

#right {
    text-align: right;
    flex-basis: 50%;
    margin-right : 10px;
}

a {
    padding : 10px;
    color : black;
    text-decoration: none;
}

#form {
    text-align: center;
    padding:100px;
}

#qbox {
    border-radius: 20px;
    border: 1px solid gainsboro;
    width: 500px;
    height:20px;
    padding: 10px;
    padding-left:3%;
}

.button {
    border:none;
    background-color: #f8f9fa;
    height: 40px;
    width: 130px;
}